{{ define "main" }}

<a class="td-offset-anchor"></a>
<section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
	<div class="container text-center td-arrow-down">
		<span class="h4 mb-0">
<h1>Inscrições abertas!</h1>

<p>A primeira turma do curso, com aulas entre 19 de Abril e 31 de Maio, está com as inscrições abertas até o dia 10 de Abril! As inscrições podem ser feitas seguindo as instruções abaixo para preenchimento do formulário e pagamento via GRU! Esperamos por você!
</span>
	</div>
</section>
{{ partial "inscricoes_links.html" . }}

<div class="td-content">
{{ .Content }}
</div>

{{ end }}
