+++
title = "DNA"
linkTitle = "Home"

+++

{{< blocks/cover title="Bem-vindo ao site do curso de Genômica e Genética Funcional de Microrganismos! Inscrições abertas!" image_anchor="top" height="full" color="black" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/sobre" >}}">
		Saiba mais! <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/inscricoes" >}}">
		Faça sua inscrição! <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Empregando genética funcional e genômica para o entendimento da evolução de microrganismos e compreensão da interação entre patógenos e hospedeiros!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
O curso de Genômica e Genética Funcional de Microrganismos é promovido e ofertado pelo Programa de Pós-Graduação em Genética e pelo Laboratório de Bioprospecção e Genética Molecular de Microrganismos, ambos localizados no Departamento de Genética da Universidade Federal do Paraná (UFPR, Curitiba, Brasil). 
<p>
Nosso principal objetivo é fornecer a você os conhecimentos e ferramentas necessários para empregar a genômica no estudo de microrganismos de forma confiável e bem sucedida, e segurança para realizar um estudo de genética funcional!
{{% /blocks/lead %}}

{{< blocks/section color="light" type="features">}}
{{% blocks/feature icon="fa-laptop-code" title="Genômica!" url="/sobre" %}}
Vamos explorar as diferentes metodologias e softwares disponíveis para sequenciamento, montagem e anotação de genomas de microrganismos com qualidade e confiabilidade!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-dna" title="Genética funcional!" url="/sobre" %}}
Da seleção de genes candidatos às análises de expressão gênica, vamos abordar todas as etapas para um estudo bem-sucedido de genética funcional em microrganismos!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-clipboard-check" title="Estudos de caso!" url="/sobre" %}}
Compreensão da evolução e interação entre os patógenos e hospedeiros a partir de contextualização com exemplos reais durante as atividades práticas!
{{% /blocks/feature %}}


{{< /blocks/section >}}

